.personal-picture {
    background-image: url('../../../assets/img/mike_wazowski.jpg');
    background-size: cover;
  }
  .half-width-field {
    width: 30vw;
    margin-right: 3vw;
  
  }
  .third-width-field {
    width: 26vw;
    margin-right: 3vw;
  
  }
  .full-width-field {
    width: 65vw;
    margin-right: 3vw;
  }
  
