<h3>Personal Data</h3>
<form class="personalDataForm">
    <mat-card>

        <mat-card-header>
            <div mat-card-avatar class="personal-picture"></div>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/mike_wazowski.jpg">
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="name" [(ngModel)]="user.name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="surname" [(ngModel)]="user.surname">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="email" [(ngModel)]="user.email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="birthdate" [(ngModel)]="user.birthdate">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="phone" [(ngModel)]="user.phone">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="documentNumber"
                        [(ngModel)]="user.documentNumber">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="address" [(ngModel)]="user.address.street">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" readonly="isReadOnly" name="license" [(ngModel)]="user.license">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="textarea" readonly="isReadOnly" name="aboutMe" [(ngModel)]="user.aboutMe">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="textarea" readonly="isReadOnly" name="otherCompetences"
                        [(ngModel)]="user.otherCompetences">
                </mat-form-field>
            </div>

        </mat-card-content>

    </mat-card>
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="openDialog()">Editar</button>
    </mat-dialog-actions>

</form>