
.mat-card-header {
  width: 25vw;

}

.half-width-field {
  width: 40vw;
  margin-right: 3vw;

}
.third-width-field {
  width: 26vw;
  margin-right: 3vw;

}
.full-width-field {
  width: 83vw;
  margin-right: 3vw;
}