
.half-width-field {
    width: 31vw;
    margin-right: 3vw;
  
  }
  .third-width-field {
    width: 19.5vw;
    margin-right: 3vw;
  
  }
  .full-width-field {
    width: 65vw;
    margin-right: 3vw;
  }
  .mat-card-title {
    margin-left: 0px;
   
}