@import '~@angular/material/theming';
@import '../../../styles-variables.scss';

@mixin language-details-dialog-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    h3 {
        color:$font-color;
    }
    .mat-option.mat-selected.mat-active {
        color: mat-color($primary);
    }


}