<mat-dialog-content [formGroup]="languageDetailsDlgForm">

    <mat-card>
        <mat-card-header>
            <h3 mat-card-title>Idiomas</h3>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput type="number" formControlName="uid">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Idioma</mat-label>
                    <mat-select formControlName="languageName" #languageSelect>
                        <mat-option *ngFor="let lang of languageList" [value]="lang">{{lang}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container *ngIf="languageSelect.value=='Otro'">
                    <mat-form-field>
                        <mat-label>Idioma alternativo</mat-label>
                        <input matInput type="text" name="other" formControlName="other">
                    </mat-form-field>
                </ng-container>

                <mat-form-field>
                    <mat-label>Nivel</mat-label>
                    <mat-select formControlName="languageLevel">
                        <mat-option *ngFor="let level of levelList" [value]="level">{{level}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Fecha del título</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
        <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
    </mat-dialog-actions>