<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-card>
  <mat-card-content>
    <button mat-button (click)="goToProfile()">
      <mat-icon>account_circle</mat-icon>
      Mi perfil
    </button>
    <button mat-button (click)="goToOffers()">
      <mat-icon>work</mat-icon>
      Ofertas disponibles
    </button>
    <button mat-button (click)="goToMyOffers()">
      <mat-icon>bookmark</mat-icon>
      Ofertas seleccionadas
    </button>
  </mat-card-content>
</mat-card>