@import '~@angular/material/theming';

@mixin work-experience-details-dialog-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    
    .mat-option.mat-selected.mat-active {
        color: mat-color($primary);
    }
}

